:root {
  --primary: #0d1321;
  --secondary: #1d2d44;
  --ter1: #3e5c76;
  --ter2: #748cab;
  --ter3: #f0ebd8;

  --light: #e7e7e7;
  --lighter: whitesmoke;

  --white: #ffffffe8;
  --black: #000000e5;
  --grey: grey;

  --slider1Bg: #369e62;
  --slider2Bg: rebeccapurple;
  --slider3Bg: teal;
  --slider4Bg: cornflowerblue;
  --slider5Bg: #7c7350;
}

html {
  font-size: 62.5%;
  scroll-behavior: smooth;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  padding: 0;
  margin: 0;

  font-size: 1.6rem;
  font-family: "Lato", sans-serif;
}

/* navbar */
.nav__top {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 2rem 5rem;

  background: var(--primary);
}

.nav__search {
  display: flex;
  align-items: center;
  padding: 1rem 2rem;
  border-radius: 0.8rem;
  width: 25%;

  background-color: var(--grey);
}

.nav__search input {
  border: none;
  outline: none;
  width: 100%;

  background-color: transparent;
  color: var(--light);

  font-size: 1.4rem;
}

.nav__search input::placeholder {
  color: var(--light);
}

.nav_offer a {
  border-bottom: 2px solid var(--light);
  padding-bottom: 3px;

  color: var(--white);

  font-size: 1.8rem;
  text-decoration: none;
}

.nav__bottom {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 1rem 5rem 3rem 5rem;

  background: var(--primary);
}

.nav__menu-item {
  margin-right: 3.5rem;

  font-weight: 500;
  font-size: 1.8rem;
  text-transform: uppercase;

  color: var(--white);

  list-style: none;
  cursor: pointer;
}

/* slider */
.slider {
  padding-top: 3rem;
  background: url("https://images.unsplash.com/photo-1604147495798-57beb5d6af73?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=2370&q=80");
  clip-path: polygon(0 0, 100% 0, 100% 100%, 0 85%);
  overflow: hidden;
}

.slider__wrapper {
  width: 500vw;
  display: flex;
  transition: 0.8s ease-in-out;
}

.slider__item {
  position: relative;

  display: flex;
  width: 100vw;
  align-items: center;
  justify-content: center;
  color: var(--white);
}

.slider__item-img {
  z-index: 1;
}

.slider__item-bg {
  position: absolute;
  z-index: 0;
  top: 48%;
  left: 48%;
  transform: translate(-50%, -50%);

  width: 750px;
  height: 750px;
  border-radius: 50%;
}

.slider__item:nth-child(1) .slider__item-bg {
  background: var(--slider1Bg);
}
.slider__item:nth-child(2) .slider__item-bg {
  background: var(--slider2Bg);
}
.slider__item:nth-child(3) .slider__item-bg {
  background: var(--slider3Bg);
}
.slider__item:nth-child(4) .slider__item-bg {
  background: var(--slider4Bg);
}
.slider__item:nth-child(5) .slider__item-bg {
  background: var(--slider5Bg);
}

.slider__item-price {
  position: absolute;
  z-index: 1;
  top: 10rem;
  left: 11rem;

  padding: 0.4rem;
  border: 1px solid var(--white);

  font-size: 5rem;
  font-weight: 300;
}

.slider__item-name {
  position: absolute;
  z-index: 1;
  top: 15rem;
  right: 8rem;

  text-transform: uppercase;
  font-size: 6.3rem;
  font-weight: 900;
  text-align: center;
}

.slider__item-name span {
  display: inline-block;
  margin: 0.1rem;
  padding: 0px 15px;

  background: var(--white);
  color: var(--black);
}

.slider__item-cta {
  position: absolute;
  z-index: 1;
  top: 43rem;
  right: 18rem;

  padding: 1rem 2.5rem;
  border: none;
  border: 1px solid var(--white);

  background: var(--primary);
  color: var(--white);

  font-size: 1.8rem;
  font-weight: bold;
  text-transform: uppercase;

  cursor: pointer;
}
.slider__item-cta:hover {
  border: 1px solid var(--black);

  background: var(--ter3);
  color: var(--black);
}

/* features */

.features {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  padding: 9rem;
  padding-bottom: 14rem;
}

.features__item {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;

  text-align: center;
}

.features__item h3 {
  margin: 1.5rem 2rem;

  font-size: 2rem;
}

.features__item p {
  width: 50%;

  color: var(--grey);

  font-size: 1.6rem;
}

.features__item img {
  width: 5rem;
  height: 5rem;
}

/* product section */
.product {
  display: flex;
  /* align-items: center; */
  padding: 3rem;
  background: var(--lighter);
  /* clip-path: polygon(0 0, 100% 15%, 100% 100%, 0 100%); */
}

.product__details {
  margin-top: 9rem;
  margin-left: 5rem;
}

.product__img {
  width: 53%;
}

.product__name {
  font-size: 7rem;
  font-weight: 800;
  margin-bottom: 5rem;
}

.product__price {
  font-size: 3rem;
  font-weight: 700;
  margin-bottom: 2rem;
}

.product__description {
  margin-bottom: 1.5rem;
  color: var(--grey);
  font-size: 1.7rem;
}
.product__variants {
  display: flex;
  margin-bottom: 1.5rem;
}

.product__variants .color {
  width: 3.5rem;
  height: 3.5rem;
  margin-right: 0.6rem;
  border: 1px solid black;
  border-radius: 100%;
  cursor: pointer;
}

.product__sizes {
  display: flex;
  margin-bottom: 4rem;
}

.product__sizes .size {
  padding: 0.5rem 2.5rem;
  margin-right: 0.6rem;
  border: 1px solid black;

  font-size: 1.9rem;

  cursor: pointer;
}
.product__sizes .size:hover {
  background: var(--black);
  color: var(--white);
}

.product__buy-btn {
  border: 2px solid var(--black);
  padding: 1.3rem 2.5rem;

  color: var(--white);
  background: var(--primary);

  /* font-weight: 700; */
  font-size: 1.5rem;

  cursor: pointer;
}

.product__buy-btn:hover {
  background: var(--white);
  border: 2px solid var(--black);
  color: var(--black);
}
